<section class="page-section contact-section">
  <div class="section-header">
    <span class="section-badge">Contacto</span>
    <h1>Trabajemos juntos</h1>
    <p>
      Puedes contactarme para oportunidades de pasantía, desarrollo frontend,
      proyectos académicos o colaboración tecnológica.
    </p>
  </div>

  <div class="contact-card">
    <h2>Información de contacto</h2>

    <div class="contact-list">
      <div>
        <strong>Nombre</strong>
        <span>Edgard Lanza</span>
      </div>

     <div>
  <strong>Correo</strong>
  <a href="mailto:Edgat521@gmail.com">
    Edgat521&#64;gmail.com
  </a>
</div>
      <div>
        <strong>Ubicación</strong>
        <span>Honduras</span>
      </div>

      <div>
        <strong>Área de interés</strong>
        <span>Desarrollo frontend con Angular</span>
      </div>
    </div>
  </div>
</section>