<section class="page-section">
  <div class="section-header">
    <span class="section-badge">Sobre mí</span>
    <h1>Perfil profesional</h1>
    <p>
  Soy estudiante de la Licenciatura en Informática Administrativa en la UNAH,
  con enfoque en desarrollo Full Stack, construcción de interfaces web,
  consumo de APIs, desarrollo backend con Laravel y manejo de bases de datos.
</p>
  </div>

  <div class="about-grid">
    <div class="about-card">
      <h2>¿Quién soy?</h2>
      <p>
        Me caracterizo por ser una persona proactiva, orientada a resultados,
        con interés en la programación, el análisis de sistemas y la mejora de
        procesos mediante herramientas tecnológicas.
      </p>

      <p>
  Actualmente fortalezco mi experiencia práctica trabajando con Angular para
  el frontend, Laravel y PHP para el backend, Postman para pruebas de APIs y
  MySQL como base de datos, aplicando estos conocimientos en proyectos
  académicos e institucionales.
</p>
    </div>

    <div class="about-card highlight">
      <h2>Objetivo profesional</h2>
      <p>
        Consolidarme como desarrollador frontend Angular, participando en
        proyectos reales que integren buenas prácticas de arquitectura,
        experiencia de usuario, consumo de servicios y desarrollo escalable.
      </p>
    </div>
  </div>
</section>