<section class="page-section">
  <div class="section-header">
    <span class="section-badge">Proyectos</span>
    <h1>Proyecto principal</h1>
    <p>
      Proyecto académico-institucional desarrollado con Angular, enfocado en
      módulos universitarios, gestión académica y experiencia de usuario.
    </p>
  </div>

  <div class="projects-grid">
    <article class="project-card featured">
      <div class="project-tag">Full Stack</div>

      <h2>Sistema de Gestión Académica</h2>

     <p>
  Aplicación web institucional desarrollada con enfoque Full Stack para la
  gestión de procesos académicos universitarios. El proyecto integra frontend
  con Angular, consumo de APIs REST, pruebas de servicios con Postman,
  lógica backend con Laravel/PHP y manejo de datos mediante bases de datos
  relacionales.
</p>

      <div class="project-list">
  <span>Angular 21</span>
  <span>TypeScript</span>
  <span>SCSS</span>
  <span>Laravel</span>
  <span>PHP</span>
  <span>Postman</span>
  <span>APIs REST</span>
  <span>MySQL</span>
</div>

      <h3>Funciones trabajadas</h3>

      <ul>
  <li>Diseño de vistas con hero institucional, cards, tablas y modales.</li>
  <li>Componentes reutilizables para mantener consistencia visual.</li>
  <li>Consumo de APIs REST desde Angular.</li>
  <li>Pruebas y validación de endpoints mediante Postman.</li>
  <li>Apoyo en lógica backend usando Laravel y PHP.</li>
  <li>Manejo de información académica conectada a bases de datos.</li>
  <li>Diseño responsive para escritorio, tablet y móvil.</li>
</ul>
    </article>

    <article class="project-card">
      <div class="project-tag secondary">Frontend</div>
      <h2>Componentes reutilizables</h2>
      <p>
        Creación de componentes visuales reutilizables para mantener consistencia
        en diferentes pantallas del sistema.
      </p>
    </article>

    <article class="project-card">
      <div class="project-tag secondary">UI/UX</div>
      <h2>Diseño institucional</h2>
      <p>
        Mejora de interfaces mediante tarjetas, secciones hero, tablas,
        formularios y estilos responsivos.
      </p>
    </article>
  </div>
</section>